{% extends 'layout.html' %}

{% block title %}Searched fan groups{% endblock %}

{% block content %}
<h2>Searched fan groups</h2>
<div>
<table>
    <thead>
        <tr>
            <th>Group name</th>
            <th>Favourite artist</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for row in groups %}
            <tr>
                <td>{{row.group_name}}</td>
                <td>{{row.favourite_artist}}</td>
                <td>{{row.description}}</td>
                <td>
                    <form action="{{ url_for('add_search_group') }}" method="post">
                        <input type="hidden" name="keyword"  id="{{keyword}}" value="{{keyword}}"required>
                        <input type="hidden" name="group_name"  id="{{row.group_name}}" value="{{row.group_name}}"required>
                        <input type="submit" name="add" value="Add">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}